Diseño/XML/BDD(Jornadas).dtd

<!DOCTYPE liga [
        <!ELEMENT liga (jornada)*>
        <!ELEMENT jornada (partido)*>
        <!ATTLIST jornada
                codigoJornada CDATA #REQUIRED
                fechaFinal CDATA #REQUIRED
                fechaInicio CDATA #REQUIRED>
        <!ELEMENT partido (resultado)*>
        <!ATTLIST partido
                equipo1 CDATA #REQUIRED
                equipo2 CDATA #REQUIRED>
        <!ELEMENT resultado (#PCDATA)>
        ]>