Diseño/XML/BDD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gestion" type="gestionType"/>
  <xs:complexType name="cuentaType">
    <xs:sequence>
      <xs:element type="xs:string" name="usuario"/>
      <xs:element type="xs:string" name="pass"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dni"/>
  </xs:complexType>
  <xs:complexType name="equipoType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="descripcion"/>
      <xs:element type="jugadorType" name="jugador" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dni_d" use="optional"/>
    <xs:attribute type="xs:string" name="cod_eq" use="optional"/>
    <xs:attribute type="xs:string" name="dni" use="optional"/>
    <xs:attribute type="xs:string" name="cod_p" use="optional"/>
  </xs:complexType>
  <xs:complexType name="partidoType">
    <xs:sequence>
      <xs:element type="xs:string" name="lugar"/>
      <xs:element type="xs:string" name="codganador"/>
      <xs:element type="xs:string" name="fecha"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="cod_p"/>
    <xs:attribute type="xs:string" name="empate"/>
  </xs:complexType>
  <xs:complexType name="gestionType">
    <xs:sequence>
      <xs:element type="personaType" name="persona"/>
      <xs:element type="cuentaType" name="cuenta"/>
      <xs:element type="equipoType" name="equipo" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="jornadaType" name="jornada"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jornadaType">
    <xs:sequence>
      <xs:element type="partidoType" name="partido"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="direccionType" name="direccion"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="rol"/>
    <xs:attribute type="xs:string" name="dni"/>
  </xs:complexType>
  <xs:complexType name="jugadorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="direccionType" name="direccion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="direccionType">
    <xs:sequence>
      <xs:element type="xs:string" name="calle"/>
      <xs:element type="xs:string" name="nro"/>
      <xs:element type="xs:string" name="piso"/>
      <xs:element type="xs:string" name="cidudad"/>
      <xs:element type="xs:string" name="cp"/>
      <xs:element type="xs:string" name="pais"/>
      <xs:element type="xs:string" name="telefono"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>