Documentacion/XML/BDD(Clasificacion).dtd

<!DOCTYPE liga [
        <!ELEMENT liga (clasificacion)*>
        <!ATTLIST liga
                fechaExpiracion CDATA #REQUIRED>
        <!ELEMENT clasificacion (equipo)*>
        <!ELEMENT equipo (#PCDATA)>
        <!ATTLIST equipo
                codEquipo CDATA #REQUIRED
                puesto CDATA #REQUIRED
                puntos CDATA #REQUIRED>
        ]>